@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --gap-size: 1em;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 2em 0;
}

.container .top {
  margin-bottom: 1em;
  width: 1000px;
}

.container .top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .top ion-icon {
  width: 28px;
  height: 28px;
  color: #fdc500;
  margin-right: 1em;
}

.container .top p {
  color: #fff;
  font-size: 1.2em;
}

.container .title {
  padding: 32px 0;
}

.container .title h1 {
  font-size: 42px;
  letter-spacing: 2px;
  color: #fff;
}

.container .logo {
  padding: 1em 0;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
}

.box .item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #333), color-stop(95%, #181818));
}

.box .item-box .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0em 1em 0em;
  color: #fdc500;
  width: 100%;
}

.box .item-box .btn:hover {
  color: #000;
  background-color: #fdc500;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--gap-size);
  max-width: 1000px;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
}

.flexbox > .card-item {
  width: 23%;
  margin: 0em 1em 1em 0em;
}

.card-item .content-item {
  text-align: center;
}

.card-item .content-item img {
  width: 100%;
  border: 1px solid transparent;
}

.card-item .content-item p {
  margin-bottom: 1em;
  font-size: 24px;
  letter-spacing: 2px;
  color: #fff;
}

.card-item:hover .content-item img {
  border: 1px solid #fdc500;
  opacity: 0.8;
}

.card-item:hover .content-item p {
  color: #fdc500;
}

html, body {
  background-color: #141414;
  font-family: 'Bebas Neue', cursive;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

a, a:hover, a:link, a:visited {
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */