@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$color-dark: #141414;
$color-white: #fff;
$color-yellow: #fdc500;

:root {
    --gap-size: 1em;
}

@mixin grid () {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--gap-size);
    max-width: 1000px;
}

@mixin flexbox {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1000px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2em 0;

    .top { 
        margin-bottom: 1em;
        width: 1000px;

        a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        ion-icon {
            width: 28px;
            height: 28px;
            color: $color-yellow;
            margin-right: 1em;
        }

        p {
            color: $color-white;
            font-size: 1.2em;
        }
    }

    .title {
        padding: 32px 0;

        h1 {
            font-size: 42px;
            letter-spacing: 2px;
            color: $color-white;
        }
    }

    .logo {
        padding: 1em 0;
    }
}

.box {
    display: flex;
    justify-content: space-between;
    width: 600px;


    .item-box {
        display: flex;
        justify-content: center;
        width: 250px;
        background-image: -webkit-gradient(linear,left top,right top,color-stop(5%,#333),color-stop(95%,#181818));

        .btn {
            display: flex;
            justify-content: center;
            padding: 1em 0em 1em 0em;
            color: $color-yellow;
            width: 100%;
        }

        .btn:hover {
            color: #000;
            background-color: $color-yellow;
        }

    }
}

.grid {
    @include grid();
}

.flexbox {
    @include flexbox();
}

.flexbox > .card-item {
    width: 23%;
    margin: 0em 1em 1em 0em;
}

.card-item {

    .content-item {
        text-align: center;

        img {
            width: 100%;
            border: 1px solid transparent;
        }

        p {
            margin-bottom: 1em;
            font-size: 24px;
            letter-spacing: 2px;
            color: $color-white;
        }
    }
}

.card-item:hover {

    .content-item {

        img {
            border: 1px solid $color-yellow;
            opacity: 0.8;
        }

        p {
            color: $color-yellow;
        }
    }
}


html, body {
    background-color: $color-dark;
    font-family: 'Bebas Neue', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
    cursor: pointer;
}